<html>
<head>
<title>edit.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
edit.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;@android:color/black&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;.NFC&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">com.ssomai.android.scalablelayout.ScalableLayout</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@android:color/darker_gray&quot;</span><span class="s2"> 
        </span><span class="s1">app:scale_base_height=</span><span class="s3">&quot;1920&quot;</span><span class="s2"> 
        </span><span class="s1">app:scale_base_width=</span><span class="s3">&quot;1080&quot;</span><span class="s2">&gt; 
        &lt;</span><span class="s4">ImageView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Menu&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;500&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;500&quot;</span><span class="s2">/&gt; 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/modified&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;사진 수정&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_textsize=</span><span class="s3">&quot;60&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;150&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;600&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;500&quot;</span><span class="s2"> 
            /&gt; 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/name&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;이름 : &quot;</span><span class="s1">android:labelFor=</span><span class="s3">&quot;&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_textsize=</span><span class="s3">&quot;80&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;150&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;800&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;900&quot;</span><span class="s2"> 
            /&gt; 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/name&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;가격 : &quot;</span><span class="s2"> 
            </span><span class="s1">android:labelFor=</span><span class="s3">&quot;&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;150&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_textsize=</span><span class="s3">&quot;80&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;1000&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;900&quot;</span><span class="s2"> 
 
            /&gt; 
        &lt;</span><span class="s4">TextView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Hashtag&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;해시태그 : &quot;</span><span class="s1">android:labelFor=</span><span class="s3">&quot;&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;150&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_textsize=</span><span class="s3">&quot;80&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;1200&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;900&quot;</span><span class="s2"> 
            /&gt; 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Preview&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;미리보기&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;150&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_textsize=</span><span class="s3">&quot;72&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;1400&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;900&quot;</span><span class="s2">/&gt; 
        &lt;</span><span class="s4">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Confirm&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;확인&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_height=</span><span class="s3">&quot;150&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_textsize=</span><span class="s3">&quot;72&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_left=</span><span class="s3">&quot;50&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_top=</span><span class="s3">&quot;1600&quot;</span><span class="s2"> 
            </span><span class="s1">app:scale_width=</span><span class="s3">&quot;900&quot;</span><span class="s2">/&gt; 
    &lt;/</span><span class="s4">com.ssomai.android.scalablelayout.ScalableLayout</span><span class="s2">&gt; 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt;</span></pre>
</body>
</html>